/* The color and images of the background */
* 											{ outline: none; }
body 										{ background: #fff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 1.3; }

/* LINKS */
a 											{ color: #006699; text-decoration: none; }
	a:visited 								{ color: #006699; text-decoration: none; }
	a:hover 								{ text-decoration: underline; }

/* FORM */
input, textarea, select 					{ padding: 2px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }

.border 									{ border: 1px solid #D6D6D6; padding: 4px; background-color: #FFF; }
	.border:hover 							{ border-color: #E6E6E6; }
		.border:focus 						{ border-color: #E6E6E6; }

/* HTML */
div 										{ clear: both; }
p 											{ padding: 10px; margin: 0px 0px 0px 0px; }

/* ROUNDED */
.rounded 									{ -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; }
	.bottom-rounded							{ border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; }
	.top-rounded 							{ border-top-left-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px; }
	.left-rounded							{ border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; }
	.right-rounded							{ border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; }

/* WRAPPER */
#wrapper									{ min-width: 750px; width: 80%; margin: 0 auto; }
	
/* TABLE */
table 										{ width: 100%; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;  }
	table.uc 								{ min-width: 80%; }
	td.key									{ font-weight: bold; }
	td.item									{ background: #fff; padding: 10px; border-bottom: 1px solid #E9E9E9; }
	td.grey									{ color: #808080; }

/* HEADER */
.header 									{ padding: 10px; border-bottom: 1px solid #E9E9E9; background: #f2f2f2; }
	.header .logo a 						{ font-family: Georgia; font-style: italic; font-weight: bold; font-size: 24px; color: #000; }
	.header .logo a:hover 					{ text-decoration: none; }
	
/* NAVIGATION */
.navigation 								{ background: #E9E9E9; padding: 10px; border-bottom: 1px solid #E9E9E9; }
	.navigation a							{ color: #505050; }

/* ERROR TABLES */
.error										{ background: #FFFED5; padding: 10px; border-bottom: 1px solid #E9E9E9; }
	.error .text							{ color: #A26F34; font-weight: 700; }
	.error a								{ color: #333333; }
	
/* TOPIC */
.topic										{ background: #fff; padding: 10px; border-bottom: 1px solid #E9E9E9; }
	.topic.alt								{ background: #fafafa; }
	.topic .sticky							{ padding-left: 8px; color: #bbb; text-align: center; font-weight: 700; }
	.topic .closed							{ padding-left: 8px; color: #bbb; text-align: center; font-weight: 700; }
	.topic .url								{ font-family: Georgia; font-weight: 400; font-size: 16px; }
	.topic .url a							{ color: #151515; }
	.topic .creator,
	.topic .last-poster						{ color: #9A9A9A; }
		.topic strong						{ color: #333333; }
		.topic .username					{ font-weight: 400; }
	.topic .details							{ color: #9A9A9A; }
	.topic .item							{ font-size: 10px; margin-right: 10px; }
	.topic .posts							{ font-weight: bold; line-height: 24px; }
	.topic .last							{ font-family: Georgia; font-style: italic; font-size: 11px; }
	
/* POST */
.post										{ background: #fff; padding: 10px; border-bottom: 1px solid #E9E9E9; }
	.post .avatar							{ float: left; height: 50px; width: 50px; padding: 0px 10px; }
	.post .date								{ font-weight: normal; color: #9A9A9A; }
		.post dl							{ margin: 0px; padding: 0px; }
		.post dt							{  }
		.post dd							{ float: left; margin-left: 10px; }
	.post .message							{ padding: 0px 15px; }
		.codebox 							{ min-width: 700px; max-width: 800px; margin: 5px auto; border: 1px solid #ccc; }
			.codebox h4 					{ border-bottom: 1px solid #ccc; background: #fff; padding: 5px; margin: 0px; }
			.codebox .scrollbox 			{ margin: 0; border-top: 0px; background: #fefefe; }
			.codebox pre 					{ width: 98%; max-height: 35em; min-height: 2em; overflow:auto; padding: 5px; margin: 5px; font-size: 11px; }
		.quotebox 							{  }
			blockquote						{ min-width: 700px; max-width: 800px; margin: 0px auto; padding: 5px; }
			.quotebox h4 					{ border: 1px solid #ccc; background: #fff; padding: 5px; margin: 0px; }
			.quotebox .text 				{ border: 1px solid #ccc; background: #fefefe; margin: 0; max-height: 35em; min-height: 2em; overflow:auto; padding: 5px; border-top: 0px;  }

.subject									{ background: #fff; padding: 10px; border-bottom: 1px solid #E9E9E9; font-weight: bold; font-size: 16px; }
	.subject .subject						{ padding: 0px; border: none; font-family: Georgia; font-style: italic; font-size: 24px; }
	.subject.sticky							{ background: #F2F2F2; color: #333; }
	.subject.closed							{ background: #FFFED5; padding: 10px; border-bottom: 1px solid #E9E9E9; color: #A26F34; }
	.subject .sticky						{ font-weight: 400; font-style: normal; font-size: 11px; color: #aaa; text-align: center; font-weight: 700; }
	.subject .closed						{ font-weight: 400; font-style: normal; font-size: 11px; color: #880000; text-align: center; font-weight: 700; }
	.subject .info							{ font-weight: 400; font-style: normal; font-size: 11px; }
	
/* TITLES */
.title										{ background: #fff; padding: 10px; border-bottom: 1px solid #E9E9E9; font-family: Georgia; font-weight: bold; font-size: 13px; }
	.title dt, .post						{ margin: 0px; }


/* FORMS */
.form										{ padding: 10px; }
	.form .border 							{ border: 1px solid #D6D6D6; padding: 4px; background-color: #FFF; }
	.form .features							{ background: #fff; padding: 10px; border-bottom: 1px solid #E9E9E9; }
	
/* Footer */
.footer										{ background: #f2f2f2; padding: 10px; border-top: 1px solid #e9e9e9; }
	.footer a								{ color: #555; }

/* Quick reply inputs */
input.subject								{ width: 90%; background: #ffffff; }

/* Control Panel Inputs */
.cp 										{ width: 50%; }
	.qm 									{ width: 95%; height: 200px; }
		label input 						{ float: left; margin-top: 0px; }

/* Containers for ucp / acp */
dt 											{ margin: 0px; font-weight: 700; }
	dl.input 								{ margin: 0px; padding: 5px; clear: both; }
		dl.input dt 						{ margin: 0px; font-weight: 700; float: left; width: 40%; }
			dl.input dt span 				{ font-weight: 400; color: #666; margin-left: 5px; display: inline-block; }
				dd 							{ margin: 0px; padding: 0px; color: #666666; }
					dd strong 				{ color: #000000; }
				dl.input dd 				{ margin: 0px; padding: 0px; color: #666666; }

/* The color of usernames */
.username 									{ font-size: 11px; font-weight: 700; color: #000; }
	a.username 									{ font-size: 11px; font-weight: 700; color: #333333; }
	.admin 									{ color: #AA0000; }
	a.admin 								{ color: #AA0000; }
	.banned 								{ color: #006699; }
	